.desktop {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.desktop .overlap-group-wrapper {
  background-color: #ffffff;
  width: 1440px;
  height: 1024px;
}

.desktop .overlap-group {
  position: relative;
  width: 480px;
  height: 600px;
  top: 212px;
  left: 480px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 3px solid;
  border-color: #5173c2;
}

.desktop .image {
  position: absolute;
  width: 120px;
  height: 120px;
  top: 60px;
  left: 177px;
  object-fit: cover;
}

.desktop .overlap {
  position: absolute;
  width: 360px;
  height: 49px;
  top: 237px;
  left: 60px;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #5173c2;
}

.desktop .text-wrapper {
  position: absolute;
  top: 5px;
  left: 17px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #aeaeae;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .div-wrapper {
  position: absolute;
  width: 360px;
  height: 49px;
  top: 310px;
  left: 60px;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #5173c2;
}

.desktop .div {
  position: absolute;
  width: 360px;
  height: 49px;
  top: 383px;
  left: 60px;
  background-color: #b0cbff;
}

.desktop .text-wrapper-2 {
  top: 6px;
  left: 120px;
  color: #000000;
  font-size: 30px;
  white-space: nowrap;
  position: absolute;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-3 {
  top: 452px;
  left: 183px;
  color: #7e7e7e;
  font-size: 24px;
  position: absolute;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}
